.App {
    background-color: #403C3B;
}

@media (max-width: 376px) {
    body {
        width: 376px;
    }
    .App {
        width: 376px;
    }
}

/* @media (max-width: 577px) {
    body {
        width: 100%;
    }
    .App {
        width: 615px;
    }
} */

