.App {
    background-color: #403C3B;
    margin: 0;
}
.body {
    background: linear-gradient(360deg, #211F20 0%, #44403F 100%);
}

.arrowTop {
    position: fixed;
    width: 100px;
    bottom: 20px;
    left: 20px;
    z-index: 6;
    cursor: pointer;
    background: #403C3B;
    -webkit-box-shadow: 0px 4px 36px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 36px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 36px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    padding: 5px;
}

.arrowTop:hover {
    opacity: 0.8;
}

@media (max-width: 410px) {
    .arrowTop{
        width: 80px;
    }
}

@media (max-width: 376px) {
    body {
        width: 376px;
    }
    .App {
        width: 376px;
    }
}

/* @media (max-width: 577px) {
    body {
        width: 100%;
    }
    .App {
        width: 615px;
    }
} */

