.prodInfo {
    display: flex;
    width: 1210px;
    height: 399px;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.prodImg {
    width: 599px;
    height: 399px;
}

.prodInfoHeader {
    display: flex;
    flex-direction: column;
    margin: 40px 50px;
}

.prodInfoHeader span {
    color: white;
}

.title {
    font-size: 30px;
    font-weight: 700;
}

.description {
    font-size: 14px;
    opacity: 0.5;
}

.weight {
    color: white;
    opacity: 0.5;
    font-size: 14px;
    margin: 0px 50px;
}

.prodInfoFooter {
    margin-top: 100px;
}

.prodInfoPrice {
    margin: 23px 50px 0px 50px
}

.btn {
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    border-radius: 10px;
    font-size: 14px;
    color: white;
    font-weight: 600;
    border: none;
    width: 145px;
    height: 50px;
    margin-right: 25px;
}

.btn span {
    padding: 8px 40px 8px 0px;
}

.price {
    color: white;
    font-size: 25px;
    font-weight: 700;
}

.reviews {
    width: 20%;
    margin: 0 auto;
}
.someReviews {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.reviews p {
    color: white;
    font-size: 22px;
    text-align: center;
    
}


.block {
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
    width: 400px;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
}

.prodInfoPrice img {
    position: relative;
    right: 160px;
    top:5px;
    width: 20px;
}

.addReview {
    margin-bottom: 30px;
}

.btn {
    cursor: pointer;
} 

.addReview input {
    width: 210px;
    border-radius: 10px;
    padding-left: 15px;
    font-size: 18px;
    background: rgba(80, 75, 74, 1);
    border: none;
}

.commentatorEmail {
    font-size: 20px;
}

.block div {
    margin-bottom: 15px;
    color: white;
    padding: 10px;
}

.addReviewBtn {
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    height: 50px;
    width: 150px;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.addReview {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

/* border-right: 1px solid rgba(255, 255, 255, 0.3); */
